<li class={{this.styleNamespace}}>
  <div class='details'>
    <h2>
      {{this.movie.title}}
    </h2>

    <p>
      <h4>Description</h4>
      {{this.movie.description}}
    </p>

    <h5>Rating: {{this.movie.rating}}</h5>

  </div>
</li>